body{
    margin: 0;
    text-align: center;
}
.app-container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}
.tools-container{
    flex-flow: column;
    height: 80vh;
}
.description{
    margin: 0 auto;
    width: 80%;
}
.description > ul{
    text-align: left;
}
.color-palette{
    margin: 0 auto;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}
.palette-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.current-color{
    margin: 0 auto;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
.clear-btn{
    margin: 50px auto 0 auto;
    width: 50px;
}
.grid-creator{
    display: inline;
}
.grid{
    min-height: 380px;
    min-width: 380px;
    flex: 1 0 50%;
    border: 1px solid blue;
}

.flex{
    display: flex;
}
.grid-block{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}
.grid-row{
    width: 100%;
}
.palette-btn{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    margin: 4px;
}
.palette-btn:hover{
    cursor:pointer ;
}
footer{
    background-color: #0b6e4f;
}